{% extends "base-index.html" %}

{%block title %}Timetable Generator{% endblock %}

{% block content %}
<section class="hero-section ptb-100" style="background: url('')no-repeat center center / cover">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="page-header-content text-center pt-sm-5 pt-md-5 pt-lg-0">
                    <h1 class="mb-0">Timetable Generator</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-details-section ptb-100">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-12 col-lg-8">
                <div class="img-wrap mb-md-4 mb-lg-0">
                    <img src="{{url_for('static', filename='img/education_app_dev.jpg')}}" alt="project"
                         class="img-fluid rounded shadow-sm"/>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="project-details-sidebar">
                    <ul class="project-info-list">
                        <li class="d-flex align-items-center mb-3 p-4 rounded">
                            <span class="ti-user icon-sm color-secondary d-block mr-3"></span>
                            <div class="d-block">
                                <h5 class="mb-0">Company Name</h5>
                                <p>Kenyatta University Nairobi Kenya</p>
                            </div>
                        </li>
                        <li class="d-flex align-items-center mb-3 p-4 rounded">
                            <span class="ti-time icon-sm color-secondary d-block mr-3"></span>
                            <div class="d-block">
                                <h5 class="mb-0">Project Duration</h5>
                                <p>open</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="project-details-content">
                    <h4>Project Description</h4>
                    <h5>Problem Statement</h5>
                    <p>
                        The client (Kenyatta University, Nairobi Kenya) has a challenge of lectures clashing in the
                        timetable causing some students to miss or postpone their lectures. This affects both the
                        lecturer and especially the students schedule as both have to miss out on a few classes to make
                        the schedule align. The client needs a system which can generate the students timetables based
                        on when the lectures had maximum attendance and ensure the lecture venues do not have more than
                        one lecture.
                    </p>
                    <h5>Key Steps</h5>
                    <p>
                        This problem is solved by all the science and engineering departments
                        therefore I make my contributions to the physics department. Through the use of machine learning
                        this is how I have made progress in trying to solve the above challenge<br>
                        <strong>i) The Unstructured Supplementary Service Data (USSD) application.</strong><br>
                        Through this application the students with feature phones would be able to mark
                        attendance and be logged in as present during the lecture. The ussd application was
                        developed in python and flask framework.<br>
                        <strong>ii) The mobile application</strong><br>
                        The mobile app, students with smart-phones were able to mark attendance and be logged in
                        as present during the lecturer. The mobile application was developed in Flutter for both
                        the android and IOS operating systems.<br>
                        <strong>iii) The Web application Portal</strong><br>
                        The web app portal allowed the administrators of the system to monitor how each class
                        being attended and get the analytics of both the lecturers and students average
                        attendance. It also provided an interface for scheduling and rescheduling of the classes
                        as it was among the features the clients had requested.<br>
                        <strong>iv) The IOT Device</strong><br>
                        The IOT device allowed for students who had a challenge of not having both a smart-phone
                        or a feature phone to be able to log into the class. Students fingerprints were captured
                        and stored in the database and while in class it was just a matter of confirmation of
                        the prints.
                    </p>
                    <h5>Deliverables</h5>
                    <p>
                        I have been able to test the solution using the data collected in this project <a href="{{url_for('frontend.case_studies_maarifa_education')}}">here.</a>
                        I have been able to test the solution that I have built so far by
                        The application development was successful. I was able to test it with school of
                        medicine students and lecturers and got feedback on areas to improve before rolling it
                        out to the rest of the university for use. <a
                            href="{{url_for('frontend.download_recommendation')}}">Here</a> is a recommendation I
                        received from the dean of the school advising the university management to onboard the
                        program into their system.
                    </p>
                    <h5>Key Learning Points</h5>
                    <P>
                        Through the process of iteration, the solution is becoming more clearer. Before having the ml
                        model analyse your data there is need to pre-process it. This ensures uniformity and increases
                        the accuracy score of the output generated. There are some models which are suitable for the
                    </P>
                    <h5>Conclusion</h5>
                    <p>

                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="project-details-feature">
                    <ul class="list-unstyled tech-feature-list">
                        <li class="py-1"><span class="ti-check-box mr-2 color-secondary"></span>
                            Machine Learning with scikit learn
                        </li>
                        <li class="py-1"><span class="ti-check-box mr-2 color-secondary"></span>
                            Data Analytics and processing
                        </li>
                        <li class="py-1"><span class="ti-check-box mr-2 color-secondary"></span>
                            Database Administration & Development with MySQL
                        </li>
                        <li class="py-1"><span class="ti-check-box mr-2 color-secondary"></span>
                            Data science
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-to-action py-5">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-md-7">
                <div class="subscribe-content">
                    <h3 class="mb-1">Want to collaborate?</h3>
                    <p>Facing a complex software problem? I can help. Contact me to explore solutions together.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="action-btn text-lg-right text-sm-left">
                    <a href="{{url_for('frontend.contacts')}}" class="btn secondary-solid-btn">Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
